node_modules/
packages/*/node_modules/
packages/*/dist/
packages/*/*.tsbuildinfo
apps/*/dist/
apps/*/*.tsbuildinfo
apps/*/*.vsix
.DS_Store
.idea/
.eslintcache
coverage/
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/public/assets/mdp-client.global.js
docs/public/assets/mdp-client.global.js.map
docs/public/assets/modeldriveprotocol-client.global.js
docs/public/assets/modeldriveprotocol-client.global.js.map
